dataset
Develop
segments
transformer_dialect_to_standard.h5
test_data.csv
tokenizer_dialect.pkl
tokenizer_standard.pkl
model_params
model_params.json
dialect_standard_sentences.csv
requiresment.txt